In [7]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [3]:
Ridership_df= pd.read_csv('data/Ridership.csv')
df= Ridership_df.copy()
df.head()

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
0,2019,January,1,1,Corridor_1,n,Station_1,Weekend/Holiday,174,3,0
1,2019,January,1,1,Corridor_1,n,Station_2,Weekend/Holiday,378,10,0
2,2019,January,1,1,Corridor_1,n,Station_3,Weekend/Holiday,599,12,0
3,2019,January,1,1,Corridor_2,n,Station_4,Weekend/Holiday,2759,35,0
4,2019,January,1,1,Corridor_2,n,Station_5,Weekend/Holiday,2629,36,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64369 entries, 0 to 64368
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         64369 non-null  int64
 1   Month        64369 non-null  object
 2   Day          64369 non-null  int64
 3   Week Number  64369 non-null  int64
 4   Corridor     64369 non-null  object
 5   Workday      64369 non-null  object
 6   Station      64369 non-null  object
 7   Period       64369 non-null  object
 8   Ridership    64369 non-null  int64
 9   N_trains     64369 non-null  int64
 10  Covid19      64369 non-null  int64
dtypes: int64(6), object(5)
memory usage: 5.4+ MB

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

Year           0
Month          0
Day            0
Week Number    0
Corridor       0
Workday        0
Station        0
Period         0
Ridership      0
N_trains       0
Covid19        0
dtype: int64

## Problem One: 
Assume we want to find a general model for the number of passengers without looking at the number of passengers on previous days and only using the recorded information in the table for the same time period (except for the year and number of trains) to predict the number of required trains based on the number of passengers.

In [8]:
df

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
0,2019,January,1,1,Corridor_1,n,Station_1,Weekend/Holiday,174,3,0
1,2019,January,1,1,Corridor_1,n,Station_2,Weekend/Holiday,378,10,0
2,2019,January,1,1,Corridor_1,n,Station_3,Weekend/Holiday,599,12,0
3,2019,January,1,1,Corridor_2,n,Station_4,Weekend/Holiday,2759,35,0
4,2019,January,1,1,Corridor_2,n,Station_5,Weekend/Holiday,2629,36,0
...,...,...,...,...,...,...,...,...,...,...,...
64364,2022,December,31,52,Corridor_3,n,Station_30,Weekend/Holiday,2577,19,0
64365,2022,December,31,52,Corridor_5,n,Station_19,Weekend/Holiday,74,2,0
64366,2022,December,31,52,Corridor_7,n,Station_24,Weekend/Holiday,686,12,0
64367,2022,December,31,52,Corridor_7,n,Station_21,Weekend/Holiday,82,3,0
64368,2022,December,31,52,Corridor_7,n,Station_3,Weekend/Holiday,419,15,0